<article class="m-2 p-1 rounded-2 d-flex" style="border: 2px solid black; flex-direction: column;">
    <!-- tag -->
    {% include './_tag.html' %}

    <div class="m-2 rounded-2 d-flex" style="flex-direction: column;">
        <div class="d-flex align-items-center" style="width: 100%;">
            <div class="m-1" style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                <img src="" alt="" style="width: 100%; height: 100%; object-fit: cover;">
            </div>

            <div>
                <p class="m-0" style="font-size: 0.75rem;">글 올린 유저의 ID</p>
                <p class="m-0" style="font-size: 0.75rem; color: rgb(143, 143, 143);">업데이트 한 시간</p>
            </div>
                <a href="" class="btn btn-secondary ms-auto" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">이웃버튼</a>
        </div>

        <a href="#" class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <h5 class="fw-bold mt-1">글 제목</h5>
            <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minus laboriosam ipsa impedit laborum obcaecati consequatur dolore beatae ullam repudiandae, eaque eos soluta reprehenderit rerum deleniti totam possimus quisquam eum.
            </p>
        </a>
        <hr class="mt-0">
    </div>

    <div class="m-2 rounded-2 d-flex" style="flex-direction: column;">
        <div class="d-flex align-items-center" style="width: 100%;">
            <div class="m-1" style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                <img src="" alt="" style="width: 100%; height: 100%; object-fit: cover;">
            </div>

            <div>
                <p class="m-0" style="font-size: 0.75rem;">글 올린 유저의 ID</p>
                <p class="m-0" style="font-size: 0.75rem; color: rgb(143, 143, 143);">업데이트 한 시간</p>
            </div>
                <a href="" class="btn btn-secondary ms-auto" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">이웃버튼</a>
        </div>

        <a href="#" class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <h5 class="fw-bold mt-1">글 제목</h5>
            <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minus laboriosam ipsa impedit laborum obcaecati consequatur dolore beatae ullam repudiandae, eaque eos soluta reprehenderit rerum deleniti totam possimus quisquam eum.
            </p>
        </a>
        <hr class="mt-0">
    </div>

    <div class="m-2 rounded-2 d-flex" style="flex-direction: column;">
        <div class="d-flex align-items-center" style="width: 100%;">
            <div class="m-1" style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                <img src="" alt="" style="width: 100%; height: 100%; object-fit: cover;">
            </div>

            <div>
                <p class="m-0" style="font-size: 0.75rem;">글 올린 유저의 ID</p>
                <p class="m-0" style="font-size: 0.75rem; color: rgb(143, 143, 143);">업데이트 한 시간</p>
            </div>
                <a href="" class="btn btn-secondary ms-auto" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">이웃버튼</a>
        </div>

        <a href="#" class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <h5 class="fw-bold mt-1">글 제목</h5>
            <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minus laboriosam ipsa impedit laborum obcaecati consequatur dolore beatae ullam repudiandae, eaque eos soluta reprehenderit rerum deleniti totam possimus quisquam eum.
            </p>
        </a>
        <hr class="mt-0">
    </div>

    <div class="m-2 rounded-2 d-flex" style="flex-direction: column;">
        <div class="d-flex align-items-center" style="width: 100%;">
            <div class="m-1" style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                <img src="" alt="" style="width: 100%; height: 100%; object-fit: cover;">
            </div>

            <div>
                <p class="m-0" style="font-size: 0.75rem;">글 올린 유저의 ID</p>
                <p class="m-0" style="font-size: 0.75rem; color: rgb(143, 143, 143);">업데이트 한 시간</p>
            </div>
                <a href="" class="btn btn-secondary ms-auto" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">이웃버튼</a>
        </div>

        <a href="#" class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <h5 class="fw-bold mt-1">글 제목</h5>
            <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minus laboriosam ipsa impedit laborum obcaecati consequatur dolore beatae ullam repudiandae, eaque eos soluta reprehenderit rerum deleniti totam possimus quisquam eum.
            </p>
        </a>
        <hr class="mt-0">
    </div>

    <!-- 페이지네이션 -->
    {% include './_pagination.html' %}
</article>